<p id="notice"><%= notice %></p>

<h1>Listing Api Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Session token</th>
      <th>Password digest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_users.each do |api_user| %>
      <tr>
        <td><%= api_user.email %></td>
        <td><%= api_user.session_token %></td>
        <td><%= api_user.password_digest %></td>
        <td><%= link_to 'Show', api_user %></td>
        <td><%= link_to 'Edit', edit_api_user_path(api_user) %></td>
        <td><%= link_to 'Destroy', api_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_api_user_path %>
