<!DOCTYPE html>
<html>
<head>
  <title>Evernote</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="icon" type='image/gif' href="<%= asset_path('favicon.png') %>" sizes='64x64'>
</head>
<body>

<%= yield %>

</body>
</html>
